@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700|Lora:400,700|Roboto:300,400,900,700,500);

img{
  max-width: 100%;
  height: auto;
}
body {
  background: #c1bdba;
   margin: 0;
}
/*.hg{
  height: 80vh;
}*/
.hamburger{
  position: fixed;
  width: 50px;
  top:10px;
  right: 15px;
  z-index: 2004;
  
}
.hamburger i{
  font-size: 3rem;
  color: white;
}
.navham{
  position: fixed;
  z-index: 2003;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: rgb(0,0,0);
  top:0;
  right: 0;
  width: 300px;
  height: 100vh;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;
}
.bringmenu{
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.navham{
  margin:0;
  padding: 0 2rem;
}
.navham li{
    width: 100%;
  list-style-type: none;
  padding: 2rem;
    border-bottom: 2px solid rgba(220,220,220,0.6);
    box-sizing:border-box;
}
.navham li a{
    text-transform: uppercase;
    font-family: Roboto;
  font-weight: 400;
  font-size: 1.7rem;
  text-decoration: none;
  color:white;
    
}
.navham li a:hover{
    color:#1ABC9C;
}
.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(21, 32, 48, 0.4);
}
.form{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabwidth{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #179b77;
  margin:1rem .2rem;

}
.tabwidth h1{
  font-family: Lato;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.single{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabgroup input[type="text"]{
  font-family: Lato;
  width: 250px;
  font-size: 1.2rem;
  font-weight: 400;
  padding:.5rem;
  margin: .1rem;
  color: white;
  background:transparent;
  border: 1px solid #a0b3b0;
 
}
.single input[type="email"],.single input[type="password"],.singleitem input[type="text"],.singleitem input[type="tel"]{
  font-family: Lato;
  font-size: 1.2rem;
  font-weight: 400;
  padding:.5rem;
  margin: .5rem;
  width: 520px;
  background:transparent;
  color:white;
  border: 1px solid #a0b3b0;
}
.singleitem span{
   font-family: Lato;
  font-size: 1.42rem;
  font-weight: 400;
  padding:.5rem;
  margin: .5rem;
  background:transparent;
  color:rgb(180,180,180);
  }
.tabbutton{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin:1rem .2rem;

}
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 1rem 0;
  font-size: 2rem;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  margin:.2rem;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  width: 270px;
}
input:focus{
  outline: none !important;
  border: 1px solid #179b77;
  box-shadow: 0 0 10px #179b77;
}

footer{
  background-color: rgb(237, 237, 237);
}
footer nav ul li a{
  text-decoration: none;
  font-family: Roboto;
  letter-spacing: 1px;
  font-weight: 400;
  color:rgb(120, 120, 120);
  font-size: .95rem;
}
footer nav ul li a:hover{
  color:rgb(43, 167, 123);
}
footer nav ul h1{
  color:rgb(100, 100, 100);
  font-family: Lato;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
}
footer nav ul li{
  list-style-type: none;
}
.footerdesign{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.3rem
}

.footermenu{
  -webkit-box-flex:0;
  -webkit-flex:0 0 35%;
      -ms-flex:0 0 35%;
          flex:0 0 35%;
  line-height: 1.63rem;
}
.footerabout{
  -webkit-box-flex:0;
  -webkit-flex:0 0 30%;
      -ms-flex:0 0 30%;
          flex:0 0 30%;
  color:rgb(100, 100, 100);
  font-family: Lato;
  text-transform: uppercase;
  font-size: .95rem;
  font-weight: 700; 
}
.footerabout h1::first-line{
font-size : 300%;
 font-weight : 300;
 float : left;
 width : 1em;
 color:rgb(100, 100, 100);
}

@media screen and (min-width: 451px) and (max-width: 750px){
  
  .navham{
    width: 350px;
    height: 100vh;
}
.hamburger{
    width: 50px;
    top:10px;
    right: 10%;
    z-index: 2004;
    
}
 .tabwidth h1{
   font-size: 1.7rem;
  
}
.row{
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
}
.single input[type="email"],.single input[type="password"],.singleitem input[type="text"],.singleitem input[type="tel"]{
  font-size: 1rem;
  width: 450px;
}
.tabgroup input[type="text"]{
  width: 450px;
  font-size: 1.2rem;
}
.button {
  font-size: 1.8rem;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
.button-block {
  margin: 1rem 0;
  width: 500px;
}
.footerdesign{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footermenu{
    -webkit-box-flex:0;
    -webkit-flex:0 0 49%;
        -ms-flex:0 0 49%;
            flex:0 0 49%;
}
.footerabout{
    text-align: center;
    -webkit-box-flex:0;
    -webkit-flex:0 0 100%;
        -ms-flex:0 0 100%;
            flex:0 0 100%;
}
}
@media screen and (max-width:450px){
    .navham{
    width: 230px;
    height: 100vh;
}
.hamburger{
    width: 50px;
    top:10px;
    right: 10%;
    z-index: 2004;
    
}
 .tabwidth h1{
   font-size: 1.7rem;
  
}
.row{
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
}
.single input[type="email"],.single input[type="password"],.singleitem input[type="text"],.singleitem input[type="tel"]{
  font-size: 1rem;
  width: 260px;
}
.tabgroup input[type="text"]{
  width: 260px;
  font-size: 1.2rem;
}
.button {
  font-size: 1.8rem;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
.button-block {
  margin: 1rem 0;
  width: 280px;
}
.footerdesign{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footermenu{
    -webkit-box-flex:0;
    -webkit-flex:0 0 49%;
        -ms-flex:0 0 49%;
            flex:0 0 49%;
}
.footerabout{
    text-align: center;
    -webkit-box-flex:0;
    -webkit-flex:0 0 100%;
        -ms-flex:0 0 100%;
            flex:0 0 100%;
}
}
